@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900;&display=swap');
*,html,body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;

}
.container{
    position: sticky;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
}
.wrapper{
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding: 15px;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: var(--bg-color);
    box-shadow: 0 7px 15px 0 rgba(0,0,0,0.5);
}
.logo{
    display: flex;
    position: relative;
    flex-direction: row;
    font-size: 1.3em;
    padding-left: 100px;
    cursor: pointer;
}
.Nama-depan, .Nama-belakang {
    display: inline;
}
.logo a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.Nama-depan{
    color: white;
    font-weight: 700;
}
.Nama-belakang{
    color: var(--main-color);
    padding-left: 4px;
    font-weight: 400;
}
.Navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Navbar > li{
    list-style-type: none;
    padding: 0%;
}
.Navbar > li > a{
    color: var(--text-color);
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    padding-left: 35px;
}
.Navbar > li > a:hover{
    color: var(--main-color);
    transition: all 0.3s ease-in-out;
    border-radius: 100px;
}
.Navbar > a > img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    padding-left: 80px;
    padding-right: 50px;
}
.Navbar > a > img:hover{
    transform: scale(1.1);
    color: var(--main-color);
}
.Navbar > li > a.active{
    color: var(--main-color);
}
#menu-icon{
    font-size: 3rem;
    color: var(--text-color);
    display: none;
}